/* =================================================== */

/* Login Page */

.login-page {
    width: 100%;
    height: 100%;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url("../images/backgroundImage.jpg"); */
}

.login-page>.content {
    width: auto;
}

/* =================================================== */

/* Login Form */
.login-form-container{
    width:auto;
    min-width:800px;
    min-height: 400px;
    background:#fff;
    border:1px solid #ccc;
    border-radius: 4px;
    display: flex;
    flex-wrap:wrap;
    box-shadow: 0 10px 6px -6px #777;
}
.login-left-details{
    width:50%;
    min-height:400px;
    height:auto;
}
.login-right-details{
    width:50%;
    min-height:400px;
    height:auto;
}
.login-right-image{
    width: 100%;
    height:100%
}
.login-left-details .logo-section{
    width: 100%;
    height: 100px;
    padding: 10px;
}
.welcome{
    text-align: center;
    padding: 10px;
    color: #4daf76;
    font-weight: bold;
}

/* --------------------Admin Login styles  starts----------------------*/
.admin-login-form{
    width: 100%;
    height: auto;
    margin-top: 20px;
}
.admin-form-control{
    padding: 5px 0px;
    width:60%;
    margin:0 auto;
}
.form-button.admin-form-control{
    text-align:right;
}
.admin-form-control>label{
    padding: 5px 0px;
    font-size:12px;
    color:rgba(149,149,149,1);
}
.admin-form-control>input{
    padding: 5px 0px;
    border: 0 !important; 
    outline: 0 !important; ;
    background: transparent !important; ;
    border-bottom: 1px solid grey !important; ;
    width:100%;
    border-radius:0px !important; 
}
.admin_submit{
    color: white !important;
    background: #4daf76 !important;
    border-radius: 20px !important;
    padding: 6px 20px !important;
}
/* input[type='text']:hover {
    border-bottom:1px solid green;
 } */
 /* input:focus { 
    background-color: yellow;
  }
  input[type='text']:hover {
    border-bottom:1px solid green;
 }
 input[type=text]:focus { 
    background-color: yellow;
  } */
/* ---------------------Admin Login style  ends*--------------------------*/
/* ----------------------Candidate Login styles starts *--------------------------*/
.login-form{
    width: 100%;
    height: auto;
    margin-top: 20px;
}
.form-control{
    padding: 5px 0px;
    width:60%;
    margin:0 auto;
}
.form-button.form-control{
    text-align:right;
}
.form-control>label{
    padding: 5px 0px;
    font-size:12px;
    color:rgba(149,149,149,1);
}
.form-control>input{
    padding: 5px 0px;
    border: 0 !important; 
    outline: 0 !important; ;
    background: transparent !important; ;
    border-bottom: 1px solid grey !important; ;
    width:100%;
    border-radius:0px !important; 
}
.gotoadmin{
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #3D8DBE;
    cursor: pointer;
}
.candidate_submit{
    color: white !important;
    background: #4daf76 !important;
    border-radius: 20px !important;
    padding: 6px 20px !important;
}
/* ----------------------Candidate Login styles ends *--------------------------*/
/* =================================================== */

body {
    background: #95a5a6;
  }
  .custom-form {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    max-width: 360px;
    margin: 40px auto 40px;
    background: #fff;
    padding: 40px;
    border-radius: 4px;
  }
  .custom-form .btn-primary {
    background-color: #8e44ad;
    border-color: #8e44ad;
  }
  .custom-form .form-group {
    position: relative;
    padding-top: 16px;
    margin-bottom: 16px;
  }
  .custom-form .form-group .animated-label {
    position: absolute;
    top: 20px;
    left: 0;
    bottom: 0;
    z-index: 2;
    width: 100%;
    font-weight: 300;
    opacity: 0.5;
    cursor: text;
    transition: 0.2s ease all;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  .custom-form .form-group .animated-label:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 45%;
    height: 2px;
    width: 10px;
    visibility: hidden;
    background-color: #8e44ad;
    transition: 0.2s ease all;
  }
  .custom-form .form-group.not-empty .animated-label {
    top: 0;
    font-size: 12px;
  }
  .custom-form .form-group .form-control {
    position: relative;
    z-index: 1;
    border-radius: 0;
    border-width: 0 0 1px;
    border-bottom-color: rgba(0, 0, 0, 0.25);
    height: auto;
    padding: 3px 0 5px;
  }
  .custom-form .form-group .form-control:focus {
    box-shadow: none;
    border-bottom-color: rgba(0, 0, 0, 0.12);
  }
  .custom-form .form-group .form-control:focus ~ .animated-label {
    top: 0;
    opacity: 1;
    color: #8e44ad;
    font-size: 12px;
  }
  .custom-form .form-group .form-control:focus ~ .animated-label:after {
    visibility: visible;
    width: 100%;
    left: 0;
  }
  
       